body{
    background-color: #4e15e9;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: #ffffff;
}

button {
    background-color: #ffffff;
    border: 0.1rem;
}

.frame{
    background-color: #eee8f8;
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 1rem;
}

.tex{
    text-align: center;
}

